body{
    background-color: #f5f5f5;
}


/*top section of header styles*/
header, .main, footer{
    margin:0 auto;
    padding:0;
}

header {
    display: flex;
    background-image: url(../img/header.png);
    background-size: cover;
    height:146px;
    color: white;
    flex:1 1 200px;
}

.base {
    display: flex;
    flex-basis: 100%;
    margin: 0 8vw;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

.left {
    order: 1;
    align-self: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    transform: skew(12deg) ;
}

.left h1, p{
    margin:0;
}

.right p:last-child{
    font-weight:bold;
    font-size:20px;
}

.right{
    order: 2;
    display: flex;
}

address{
    font-style: normal;
    display: flex;
    flex-flow: column;
    align-items:flex-end;
    align-self:center;
}

/*end styles for top section of header*/

/*styles for nav section*/

header nav {
    flex-basis: 100%;
    margin: -23px 0 0 0;
    order: 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:center;
    border-radius: 5px;
    background: #c1d574;
    background: -moz-linear-gradient(top, #c1d574 0%, #96b142 49%, #96b142 51%, #88a53a 100%, #88a53a 100%, #88a53a 100%);
    background: -webkit-linear-gradient(top, #c1d574 0%,#96b142 49%,#96b142 51%,#88a53a 100%,#88a53a 100%,#88a53a 100%);
    background: linear-gradient(to bottom, #c1d574 0%,#96b142 49%,#96b142 51%,#88a53a 100%,#88a53a 100%,#88a53a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1d574', endColorstr='#88a53a',GradientType=0 );
}

header nav .nav-left{
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:flex-start;
}


header nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

header nav ul li {
    padding: 15px;
}

header nav div ul li:first-child {
    margin-left:10px;
}

/*header nav */
.nav-right ul li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:flex-end;
    color: #88A632;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin-right: 20px;
}

.nav-left ul li:hover {
    background-color: #88A632;
    color: white;
    cursor: pointer;
    opacity: 0.8;
}

.nav-right ul li:before {
    content: url(../img/basket.jpg);
    position: relative;
    left: -4px;
    top: 2px;
}

.nav-right ul li:hover{
    cursor: pointer;
}

/*end header nav*/

/*.main styles*/

.base2 {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 8vw;
    background-color: #FEFEFE;
}
/*article styles*/
article {
    order: 1;
    margin: 64px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex:8 1 600px;
}

.products{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;
    background-color: #FEFEFE;

}

/* end article styles*/

/*product styles*/

.product {
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    width: 150px;
    padding: 5px;
    margin: 10px 15px;
    border-radius: 9px;
    background-color: #fafafa;
}

.product img{
    width:142px;
    height:74px;
    cursor: pointer;
}

.product h5 {
    margin:4px 0;
    text-align: center;
    color: #5f702e;
}

.product p{
    margin:5px 0;
    font-size:15px;
    color: #666666;
}

.price{
    text-align: center;
}

.buy {
    padding: 8px 0;
    text-align: center;
    border: 2px solid #86a632;
    width: 113px;
    border-radius: 21px;
    align-self: center;
    cursor: pointer;
}

/*end product styles*/

/*page-nav styles*/

.page-nav{
    width:100%;
    align-self:flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:stretch;
    background-color: #fafafa;
    /*background-color: grey;*/
    border-radius: 10px;
    margin:8px 3vw;
}

.page-nav ul {
    padding: 0;
    margin: 6px 0;
}

.page-nav a{
    text-decoration: none;
    color: white;
    font-size:17px;
}

.right-prod-nav ul, .left-prod-nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
}

.left-prod-nav li{
    margin-left:10px;
    padding:0 5px;
    border:1px solid #e3ead1;
    border-radius: 4px;
    background: #bacf6c; /* Old browsers */
    background: -moz-linear-gradient(top, #bacf6c 0%, #a6bf53 50%, #81a231 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #bacf6c 0%,#a6bf53 50%,#81a231 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #bacf6c 0%,#a6bf53 50%,#81a231 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bacf6c', endColorstr='#81a231',GradientType=0 ); /* IE6-9 */
}

.left-prod-nav li:hover{
    border:1px solid #000;
}

.right-prod-nav li{
    margin: 0 10px;
}

.right-prod-nav li:last-child{
    margin-right: 20px;
}

.right-prod-nav a{
    color: #707070;
}

.right-prod-nav a:hover{
    color: #80934e;
}

/*end page-nav styles*/

/*aside styles*/

aside{
    margin:19px 0 0 0;
    order:2;
    display: flex;
    flex-flow: column nowrap;
    flex: 2 1 200px;
}

[class^=button] h4{
    width:189px;
    text-align: center;
    padding:12px 0;
    text-transform: uppercase;
    font-size:12px;
    border-radius: 6px;
    font-weight:normal;
    color: white;
    border:1px solid #c1e078;
    background: #c1e078; /* Old browsers */
    background: -moz-linear-gradient(top, #c1e078 0%, #9dc042 50%, #72a51a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c1e078 0%,#9dc042 50%,#72a51a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c1e078 0%,#9dc042 50%,#72a51a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1e078', endColorstr='#72a51a',GradientType=0 ); /* IE6-9 */
}

[class^=button] h4:hover{
    border:1px solid #000000;
}

/*end aside styles*/

/*end .main styles*/