header, .main, footer{
    width:1100px;
    margin:0 auto;
    padding:0;
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:center;
    color: white;
    height:146px;
    background-image: url(../img/header.png);
    -webkit-background-size:cover;
    background-size:cover;
}

header h1{
    margin:0;
}

header div{
    margin:45px 100px;
}

header div:first-child{
    align-self:flex-start;

}

header div:last-child{
    align-self:flex-end;
}

header .left p{
    text-transform: uppercase;
    margin:0;
}

header .right p{
    margin:3px 0;
}

header .right p:last-child{
    font-weight:bold;
}